.rotate-5deg-right {
  transform-origin: 50% 50%;
  transform: rotate(5deg);
}
.rotate-5deg-left {
  transform-origin: 50% 50%;
  transform: rotate(-5deg);
}
.overlapping-images {
  
  @media screen and (max-width: 599px) {
    position: relative;
    overflow: hidden;
  }
  & .wp-block-image {
    max-width: 66.666%!important;
    margin-right: 0!important;
    
    @media screen and (max-width: 599px) {
      margin-right: var(--wp--preset--spacing--outer)!important;
    }
  }
  & .wp-block-image figcaption {
    background-color: var(--wp--preset--color--white);
    padding: 1em;
    white-space: nowrap!important;
    text-align: left;
    display: inline-block;
    font-size: var(--wp--preset--font-size--caption);
  }
  & .wp-block-image:first-child {
    text-align: right;
    position: relative;

    @media screen and (max-width: 599px) {
      margin-right: var(--wp--preset--spacing--outer)!important;
    }
    
    & figcaption {
      position: absolute;
      right: calc(100% + 1em);
      top: 1rem;
    }
  }
  & .wp-block-image:last-child {
    margin-bottom: -33%;
    transform: rotate(5deg) translate(-33%, -66%); 
    
    & figcaption {
      position: absolute;
      left: calc(100% + 1em);
      bottom: 1rem;
      max-width: 80%;
    }
  }
}
.overlapping-images-left {

  & .wp-block-image figcaption {
    background-color: var(--wp--preset--color--white);
    padding: 1em;
    white-space: nowrap!important;
    text-align: left;
    display: inline-block;
    font-size: var(--wp--preset--font-size--caption);
  }
  & .wp-block-image {
    max-width: 66.666%!important;
    margin-left: 0!important;
  }
  & .wp-block-image:first-child {
    position: relative;

    @media screen and (max-width: 599px) {
      margin-left: var(--wp--preset--spacing--outer)!important;
    }
    & figcaption {
      position: absolute;
      left: calc(100% + 1em);
      top: 1rem;
    }
  }
  & .wp-block-image:last-child {
    margin-bottom: -33%;
    transform: rotate(5deg) translate(33%, -66%); 
    
    @media screen and (max-width: 599px) {
      transform: rotate(5deg) translate(33%, -75%); 
    }
    & figcaption {
      position: absolute;
      right: calc(100% + 1em);
      bottom: 1rem;
    }
  }
}
.mix-blend-mode-screen {
  mix-blend-mode: screen;
}