header.wp-block-template-part {
  --nav-pill-bg: var(--wp--preset--color--gallery-off-white);
  --nav-pill-color: var(--wp--preset--color--contrast);
  --nav-pill-bg--current: var(--wp--preset--color--pigment-purple);
  --nav-pill-bg--focus: var(--wp--preset--color--pigment-purple);
  position: fixed;
  width: 100%;
  padding: 1rem var(--wp--preset--spacing--outer, 1rem);
  box-sizing: border-box;
  z-index: 100;

  @media (max-width: 599px) {
    & .wp-block-navigation ul{
      width: 100%;
      align-items: center!important;
    }
  }
  & .wp-block-navigation__container {
    gap: 0.5em;
    justify-content: center;
    padding-right: calc(48px + 1rem);
  }
  & .wp-block-navigation li.wp-block-navigation-item {
    margin-bottom: 0;
  }
  & .wp-block-navigation-item__content {
    background-color: var(--nav-pill-bg);
    color: var(--nav-pill-color);
    padding: 0.5em 0.75em 0.4em 0.75em!important;
    border-radius: 2em;
    line-height: 1;
    transition: .3s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  & .current-menu-item .wp-block-navigation-item__content,
  & .wp-block-navigation-item__content:hover {
    text-decoration: none;
    background-color: var(--nav-pill-bg--current);
  }
  & .wp-block-navigation-item__content:active {
    -webkit-tap-highlight-color: transparent;
    outline: none;
  }
  & .wp-block-navigation-item__content:focus {
    -webkit-tap-highlight-color: transparent;
    transition: none;
    transform-origin: 50% 50%;
    transform: scale(1.05);
    background-color: var(--nav-pill-bg--current);
    outline: none;
    text-decoration: none;
  }
}
.wp-block-navigation__responsive-container-open {
  position: absolute;
  right: 0;
  top: -12px;
}
.wp-block-navigation__responsive-container.is-menu-open.has-modal-open {
  padding: var(--wp--preset--spacing--outer, 1rem) 0;
}
#uncommon-header-logo {
  @media (max-width: 599px) {
    z-index: 100001;
    position: relative;
  }
}
html:not(.has-modal-open) .page-template-page-dark .wp-block-navigation__responsive-container-close svg, 
html:not(.has-modal-open) .page-template-page-dark .wp-block-navigation__responsive-container-open svg {
  color: var(--wp--preset--color--gallery-off-white);
}
.page-template-page-dark #uncommon-header-logo path,
.uncommon-content-has-dark-background #uncommon-header-logo path {
  fill: var(--wp--preset--color--gallery-off-white);
}
html.has-modal-open .page-template-page-dark #uncommon-header-logo path {
  fill: var(--wp--preset--color--contrast);
}

#uncommon-header-logo {
  animation: logo-spin infinite 7s linear;
}

@keyframes logo-spin {
  0% {
    transform: rotate(0deg);
  }
  33% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
    }
}